.landing-page {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: center;
  height: 80vh;
  background-image: url("https://scontent.fphx1-1.fna.fbcdn.net/v/t1.0-9/66946_437615712982164_959718576_n.jpg?_nc_cat=109&_nc_ht=scontent.fphx1-1.fna&oh=d3d77db42ceba27a4e8ab0575e475608&oe=5D2C976D");
  background-size: cover;
}
.products-button button{
    height: 50px;
    width: 100px;
    font-size: 3vh;
    margin-bottom: 10vh;
    color: white;
    background-color: red
    
}

