body {
  height: 100vh;
}
header {
  height: 15vh;
}
header a {
  color: black;
  text-decoration: none;
  font-size: 2.5vw;
}
header > div {
  background: lime;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
}
header nav ul li {
  padding: 1vw;
}

.logo-container {
  position: relative;
  z-index: 2;
  padding-right: 7%;
}
.logo-container img {
  height: 10vh;
  width: 25%;
  margin-left: -3vw;
}
header button {
  display: none;
}

@media (max-width: 600px) {
  header > div {
    padding: 0 20px;
  }
  header nav {
    background: blueviolet;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 5;
    height: 75%;
    width: 50%;
    right: -3000vw;
    top: 15vh;
    opacity: 0.97;
    transition: 0.25s ease-in-out;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    overflow: scroll
  }

  .show {
    /* top: 15vh; */
    right: 0;
    position: absolute;
  }
  header button {
    border: none;
    background: lime;
    display: flex;
    position: relative;
    z-index: 2;

    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  header button p {
    font-size: 6vh;
  }
  header nav ul li a  {
    font-size: 3vh;
    padding: 5px
  }
  .logo-container {
    padding-right: 7%;
  }
  .logo-container a {
    font-size: 20px;
  }
  .logo-container img {
    height: 10vh;
    width: 10vw;
    margin-left: -3vw;
  }
}
